---
---

@import "{{ site.theme }}";

@font-face {
  font-family: 'Agency-FB';
  font-style: normal;
  font-weight: 400;
  src: local('Agency-FB'), local('Agency-FB-Regular'), url(https://www.instalardjango.com/assets/fonts/agencyr.woff2) format('woff2');
}

@import url('https://fonts.googleapis.com/css?family=Roboto');

a, p , span.site-footer-credits{
    font-family: 'Roboto', sans-serif !important;
}

body {
    background-color: #fff;
}

h1 {
    font-family: 'Agency-FB', sans-serif !important;
    padding: 0 !important;
    margin: 0 !important;
    font-size: 3rem;
    font-weight: bold !important;
}

h2{
    font-family: 'Agency-FB', sans-serif !important;
    color: #222831 !important;
    font-size: 2rem;
    font-weight: bold !important;
}

h3{
    font-family: 'Agency-FB', sans-serif !important;
    color: #222831 !important;
    font-size: 1.5rem;
    font-weight: bold !important;
}

h4{
    font-family: 'Agency-FB', sans-serif !important;
    color: #222831 !important;
    font-size: 1rem;
    font-weight: bold !important;
}

h2.project-tagline{
    font-size: 2rem !important;
    color: #ffffff !important;
    margin-top: .25rem !important;
    margin-bottom: 2.15rem !important;
}

p{
    color: #393e46 !important;
}

.page-header {
    color: #fff;
    text-align: center;
    background-color: #222831;
    background-image: none;
    padding-top: 4.25rem !important;
    padding-bottom: 4.25rem !important;
}