---
---

@import "{{ site.theme }}";

@font-face {
    font-family:"AgencyFBRegular";
    src: url("/assets/fonts/agencyr.ttf")
}

@import url('https://fonts.googleapis.com/css?family=Roboto');

p {
    font-family: 'Roboto', sans-serif !important;
}

h1, h2, h3, h4, h5 {
    font-family: 'Agency FB', sans-serif !important;
}

h2, h3, h4, h5 {
    color: #0092ca;
    font-weight: bold;
}